/* * {
  outline: 1px solid red;
} */
@import url('https://fonts.googleapis.com/css?family=Georgia');

.App {
  font-family: 'Georgia', serif;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 15px);
}

.lupa {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  cursor: pointer;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.no-results {
  font-family: 'Georgia', serif;
  font-size: 25px;
  margin-top: 25px;
}

.meal-input-field {
  font-family: 'Georgia', serif;
  padding-left: 10px;
  height: 35px;
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
  outline: none;
}

.meal-input-field:focus {
  background-color: #F5F5F5;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  
  border-top: 5px solid #804500;
  border-right: 5px solid #efefef;
  border-bottom: 5px solid #efefef;
  border-left: 5px solid #efefef;
  
  border-radius: 50%;
  animation: spin 1s infinite linear;
  }

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.recipes-box {
  max-height: 100vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  overflow: auto;
}

::-webkit-scrollbar {
  background-color: #e6b480;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #804500;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f4d9b6;
}

.recipe__box {
  box-sizing: border-box;
  padding-left: 10px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe__box:hover {
  opacity: .85;
  cursor: pointer;
}

.recipe__box p {
  font-size: 20px;
}

.recipe__box img {
  width: 20%;
  height: 100%;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.recipe__box > p {
  color: black;
}

.recipe-details-box {
  width: 100%;
  height: 70%;
  background-color: white;

  display: flex;

  border-radius: 10px;
  overflow: hidden;
}

.recipe-details {
  overflow: auto;
  box-sizing: border-box;
  padding-left: 15px;
}

.recipe-details p:not(:last-of-type) {
  text-decoration: underline;
}

.recipe-details p:last-of-type {
  line-height: 25px;
}

.recipe-img img {
  width: 100%;
  height: 100%;
}

.recipe-details,
.recipe-img {
  width: 50%;
}

.link-back {
  margin-bottom: 10px;
  align-self: flex-start;
  color: black;
}

.link-back:hover {
  color: white;
}